## Combine Multiple DataFrames

### pandas.DataFrame.combine_first: Update Null Elements Using Another DataFrame

If you want to fill null values in one DataFrame with non-null values at the same locations from another DataFrame, use `pandas.DataFrame.combine_first`.

In [4]:
import pandas as pd

store1 = pd.DataFrame({"orange": [None, 5], "apple": [None, 1]})
store2 = pd.DataFrame({"orange": [1, 3], "apple": [4, 2]})

In [8]:
print(store1)

   orange  apple
0     NaN    NaN
1     5.0    1.0

In [9]:
print(store2)

   orange  apple
0       1      4
1       3      2

In the code below, the values at the first row of `store1` are updated with the values at the first row of `store2`.

In [10]:
print(store1.combine_first(store2))

   orange  apple
0     1.0    4.0
1     5.0    1.0

### Specify Suffixes When Using df.merge()

If you are merging 2 dataframes that have the same features using `df.merge()`, it might be confusing to know which dataframe `a_x` or `a_y` belongs to.

In [1]:
import pandas as pd 

df1 = pd.DataFrame({"left_key": [1, 2, 3], "a": [4, 5, 6]})
df2 = pd.DataFrame({"right_key": [1, 2, 3], "a": [5, 6, 7]})
df1.merge(df2, left_on="left_key", right_on="right_key")

   left_key  a_x  right_key  a_y
0         1    4          1    5
1         2    5          2    6
2         3    6          3    7

A better way is to specify suffixes of the features in each Dataframe like below. Now `a_x` becomes `a_left` and `a_y` becomes `a_right`.

In [30]:
df1.merge(df2, left_on="left_key", right_on="right_key", suffixes=("_left", "_right"))

   left_key  a_left  right_key  a_right
0         1       4          1        5
1         2       5          2        6
2         3       6          3        7

Try it if you want the names of your columns to be less confusing.