## Get Certain Values From a DataFrame

![](../img/get_values.png)

This section contains some methods to get specific values of a pandas DataFrame or a pandas Series.

### Access a Group of Rows with loc and iloc

You can access a group of rows by either using `loc` or `iloc`. 

`iloc` selects values based on positions while `loc` selects values based on labels.

In [ ]:
import pandas as pd  

s = pd.Series(['a', 'b', 'c', 'd'], index=[20, 21, 22, 23])
s

In [ ]:
# Get the value at the position 0
s.iloc[0]

In [ ]:
# Get the value with the index of 20. 
s.loc[20]

### pd.Series.between: Select Rows in a Pandas Series Containing Values Between 2 Numbers

To get the values that are smaller than the upper bound and larger than the lower bound, use the `pandas.Series.between` method.

In the code below, I obtained the values between 0 and 10 using `between`.

In [ ]:
import pandas as pd 

s = pd.Series([5, 2, 15, 13, 6, 10])

s[s.between(0, 10)]

### pandas.Series.pct_change: Find The Percentage Change Between The Current and a Prior Element in a pandas Series

If you want to find the percentage change between the current and a prior element in a pandas Series, use the `pct_change` method.

In the example below, 35 is 75% larger than 20, and 10 is 71.4% smaller than 35.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [20, 35, 10], "b": [1, 2, 3]})
df

In [ ]:
df.a.pct_change()

### Calculate the Difference Between Rows of a pandas DataFrame

If you want to get the difference between rows of a pandas DataFrame, use `df.diff()`.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [1, 2, 3], "b": [2, 3, 4]})
df

In [ ]:
diff = df.diff()
diff

Adjust the `periods` argument to shift more than one period for calculating the difference.

In [ ]:
diff2 = df.diff(periods=2)
diff2

### DataFrame.diff and DataFrame.shift: Take the Difference Between Rows Within a Column in pandas

If you want to get the difference between rows within a column, use `DataFrame.diff()`.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [1, 2, 3, 4], "b": [2, 3, 4, 6]})
diff = df.diff()
diff

This will leave the first index null. You can shift the rows up to match the first difference with the first index using `DataFrame.shift(-1)`.

In [ ]:
shift = diff.shift(-1)
shift

In [ ]:
processed_df = shift.dropna()
processed_df

### Turn a pandas Series into a NumPy Array

If you want to turn a pandas Series into a NumPy array, use Series.values.

In [ ]:
import pandas as pd

s = pd.Series(["apple", "orange", "grape"])
s.values

### df.to_dict: Turn a DataFrame into a Dictionary

To turn a DataFrame into a Python dictionary, use `df.to_dict()`.

In [ ]:
import pandas as pd

df = pd.DataFrame({"fruits": ["apple", "orange", "grape"], "price": [1, 2, 3]})
print(df)

This will return a dictionary whose keys are columns and values are rows.

In [ ]:
df.to_dict()

However, if you prefer to get a list of dictionaries whose elements are rows, use `df.to_dict(orient='records')` instead.

In [ ]:
df.to_dict(orient="records")

### Get Count and Percentage of a Value in a Column

If you want to get the count of each value in a column, use `value_counts`.

In [ ]:
import pandas as pd 

size = pd.Series(['S', 'S', 'M', 'L', 'M', 'M'])

In [ ]:
size.value_counts()

However, If you want to get the percentage of each value in a column, use `value_counts(normalize=True)`.

In [ ]:
size.value_counts(normalize=True)

### pandas.DataFrame.corrwith: Compute Pairwise Correlation Between 2 DataFrame

If you want to compute correlation between rows or columns of two DataFrame, use `corrwith`.

In [ ]:
import pandas as pd 

df1 = pd.DataFrame({"a": [1, 2, 3, 4], "b": [2, 3, 4, 6]})
df2 = pd.DataFrame({"a": [1, 2, 3, 3], "b": [2, 2, 4, 4]})

df1.corrwith(df2)

### pandas.cut: Bin a DataFrame’s values into Discrete Intervals

If you want to bin your Dataframe’s values into discrete intervals, use `pandas.cut`.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [1, 3, 7, 11, 14, 17]})

bins = [0, 5, 10, 15, 20]
df["binned"] = pd.cut(df["a"], bins=bins)

print(df)

### pandas.qcut: Bin a DataFrame's Values into Equal-Sized Intervals

If you want to bin a column's values into intervals that contain roughly the same number of elements, use `pandas.qcut`. 

In the example below, the values of `a` are separated into 3 intervals, each of which contains 2 elements.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [1, 3, 7, 11, 14, 17]})

df["binned"] = pd.qcut(df["a"], q=3)

df

In [ ]:
df.binned.value_counts()

### DataFrame.cumsum: Get Cumulative Sum Over Each Column

If you want to get a cumulative sum over each column in a DataFrame,  use `cumsum`.

In [ ]:
import pandas as pd 

df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
df

In [ ]:
df.cumsum()

### pandas.DataFrame.cummax: Get the Cumulative Maximum

The cumulative maximum is the maximum of the numbers starting from 0 to the current index. If you want to get the cumulative maximum of a pandas DataFrame/Series, use cummax. 

In the index `1` of the series below, since 4 > 2, the cumulative max at the index `1` is 4.

In [ ]:
import pandas as pd  

nums = pd.Series([4, 2, 5, 1, 6])
nums.cummax()

### Get the Sum of All Columns in a pandas DataFrame

If you want to take the sum of all columns, use `sum(axis=1)`.

In [ ]:
import pandas as pd

df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
df

In [ ]:
df.sum(axis=1)

If you want to take the sum of all rows, use `sum(axis=0)`.

In [ ]:
df.sum(axis=0)